@model MARKETPLACE.Models.UserLogin
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<head>
    @Styles.Render("~/Content/CSS003")
</head>
@using MARKETPLACE.Models

@using (Html.BeginForm("Usuarios", "Account", FormMethod.Post, new { @class = "form-control" }))
{
    @Html.AntiForgeryToken()
    <div class="contenedor">
        <aside class="aside">
            <form action="">
                <div class="row">
                    <h3>LOGIN</h3>
                    <div class="col">
                        <div>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "t1", @placeholder = "name", @type = "text" } })
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "t1", @placeholder = "password", @type = "password" } })
                        </div>
                        <input class="btnLogin" type="submit" value="Entrar">
                    </div>
                </div>
            </form>
        </aside>
    </div>
}
@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
@*@Html.ActionLink("Registrar", "SignIn", "Home")*@
@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">
            alert('email y password son incorrectos');
            document.location = "Index"
        </script>
    }
}


