@model IEnumerable<MARKETPLACE.DAL.producto>

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Productos
        <a href="../Admin/ProductoAdd" class="btn btn-info pull-right fa fa-plus">Agregar Nuevo Producto</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Nombre Producto</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Foto</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No</th>
                        <th>Nombre Producto</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Foto</th>
                        <th>Accion</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        int count = 1;
                        <tr>
                            <td>@count</td>
                            <td>@item.nombre_producto</td>
                            <td>@item.cantidad</td>
                            <td>@item.desc_producto</td>
                            <td>@item.img_producto</td>
                            <td>
                                @Html.ActionLink("Edit", "ProductoEdkit", new { productoId = item.id_producto })
                            </td>
                        </tr>
                        count += 1;
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

