@model IEnumerable<MARKETPLACE.Entity.Producto>

@{
    ViewBag.Title = "Listado_producto";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<p>
    @Html.ActionLink("Create New", "Registrar_producto")
</p>
<table style="width:1050px;margin:auto;" class="table">
    <tr>
        <th>
            <label>Marca</label>
        </th>
        <th>
            <label>Categoria</label>
        </th>
        <th>
            <label>Producto</label>
        </th>
        <th>
           <label>Imagen</label>
        </th>
        <th>
            <label>Precio</label>
        </th>
        <th>
            <label>Descripción</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.desc_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_producto)
            </td>
            <td>
                <img width="100" height="100" src="@Url.Action("ConvertirImagen_producto", "Producto", new {id_producto = item.id_producto})" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preciof_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc_producto)
            </td>
            <td style="background-color:grey;">
                @Html.ActionLink("Edit", "Edit", new { id = item.id_producto }) |
                @Html.ActionLink("Details", "Detalle_producto", new { id = item.id_producto }) |
                @Html.ActionLink("Eliminar", "Eliminar_producto", new { id = item.id_producto })
            </td>
        </tr>
    }

</table>
